<div class="back">
    <div class="loginForm">
        <form>
            <div class="col-sm-12">
                <mat-card>
                    <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Search">
                            <button mat-button matPrefix mat-icon-button>
                              <mat-icon>search</mat-icon>
                            </button>
                      <!-- <input matInput
                       placeholder="User Name">  -->
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input type="password" matInput
                         placeholder="password"> 
                      </mat-form-field>
                    <button mat-raised-button
                            color='primary' >Save</button>
                  </mat-card>
            </div>
        </form>
    </div>
</div>
